<!doctype html>
<center>
<br><br><br><br>
<title>Color palette extractor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<p style="text-align: justify;word-wrap: break-word; width: 800px;">The <a href="https://en.wikipedia.org/wiki/K-means_clustering">k-means clustering</a> is a method of vector quantization, originally from signal processing, that is popular for cluster analysis in data mining. 
k-means clustering aims to partition n observations into k clusters in which each observation belongs to the cluster with the nearest mean, serving as a prototype of the cluster.

k-means clustering is among the most popular clustering algorithms, it is also one of the fastest.</p>
<form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
</center>
</form>
